
<header>

</header>
<body>
    <nav class="col-lg-12 col-md-12 col-sm-12"> <!--Barre de navigation comprenant le menu + barre de recherche et icône utilisateur-->

        <div class="menu-pc-gauche col-lg-12 col-md-12 col-sm-12"> <!--Partie gauche menu PC-->
            <div class="logo col-lg-4 col-md-12 col-sm-12">
                <img class="logo" src="assets/images/logo.png"> <!--Image du logo-->
            </div>
            <ul class="logo col-lg-2 col-md-12 col-sm-12">
                <li class="col-lg-4 col-md-4 col-sm-4">Menu1</li>
                <li class="col-lg-4 col-md-4 col-sm-4">Menu2</li>
                <li class="col-lg-4 col-md-4 col-sm-4">Menu3</li>
            </ul>
            <div class="col-lg-4 col-md-12 col-sm-12" id="searchbar"> <!--barre de recherche-->
                <form action="" class="formulaire"> <!--barre de recherche-->
                    <input class="champ col-lg-4" type="text" value="Search..."/> <!--barre de recherche-->
                    <input class="bouton col-lg-1" type="button" value=" " /> <!--bouton barre de recherche-->
                </form>
            </div>
        </div>





    </nav>


    <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12"> <!--Container regroupant tout le contenu de la page index-->
        <div class="mis-en-avant col-lg-12 col-md-12 col-sm-12"> <!--Futur slider-->
        </div>
        <div class="populaire col-lg-12 col-md-12 col-sm-12"><!--Partie 1 de la page "populaire"-->
            <h1 class="col-lg-8 col-md-12 col-sm-12">Populaire</h1>
            <form class="col-lg-4">
                <select name="nom" size="1">
                    <option>FPS</option>
                    <option>TPS</option>
                    <option>MMORPG</option>
                    <option>MOBA</option>
                    <option>BATTLE ROYAL</option>
                </select>
            </form>
            <div class="item col-lg-6 col-md-6 col-sm-12"> <!--Image + texte-->
                <img src="https://media.melty.fr/article-3479553-thumb-f168367476/call-of-duty-ww2-decouvrez-le-premier-trailer.jpg" width="300">
                <div class="text">
                    <h2>titre</h2>
                    <p>Description</p>
                </div>

            </div>
            <div class="item col-lg-6 col-md-6 col-sm-12"> <!--Image + texte-->
                <img src="https://media.melty.fr/article-3479553-thumb-f168367476/call-of-duty-ww2-decouvrez-le-premier-trailer.jpg" width="300">
                <div class="text">
                    <h2>titre</h2>
                    <p>Description</p>
                </div>
            </div>
            <div class="item col-lg-6 col-md-6 col-sm-12"> <!--Image + texte-->
                <img src="https://media.melty.fr/article-3479553-thumb-f168367476/call-of-duty-ww2-decouvrez-le-premier-trailer.jpg" width="300">
                <div class="text">
                    <h2>titre</h2>
                    <p>Description</p>
                </div>
            </div>
            <div class="item col-lg-6 col-md-6 col-sm-12"> <!--Image + texte-->
                <img src="https://media.melty.fr/article-3479553-thumb-f168367476/call-of-duty-ww2-decouvrez-le-premier-trailer.jpg" width="300">
                <div class="text">
                    <h2>titre</h2>
                    <p>Description</p>
                </div>
            </div>
        </div>
        <div class="Recommande col-lg-12 col-md-12 col-sm-12"> <!--Partie 2 de la page "Recommandé pour vous"-->
            <h1>Recommandé pour vous</h1>
            <div class="item col-lg-6 col-md-6 col-sm-12"> <!--Image + texte-->
                <img src="https://media.melty.fr/article-3479553-thumb-f168367476/call-of-duty-ww2-decouvrez-le-premier-trailer.jpg" width="300">
                <div class="text">
                    <h2>titre</h2>
                    <p>Description</p>
                </div>
            </div>
            <div class="item col-lg-6 col-md-6 col-sm-12"> <!--Image + texte-->
                <img src="https://media.melty.fr/article-3479553-thumb-f168367476/call-of-duty-ww2-decouvrez-le-premier-trailer.jpg" width="300">
                <div class="text">
                    <h2>titre</h2>
                    <p>Description</p>
                </div>
            </div>
            <div class="item col-lg-6 col-md-6 col-sm-12"> <!--Image + texte-->
                <img src="https://media.melty.fr/article-3479553-thumb-f168367476/call-of-duty-ww2-decouvrez-le-premier-trailer.jpg" width="300">
                <div class="text">
                    <h2>titre</h2>
                    <p>Description</p>
                </div>
            </div>
            <div class="item col-lg-6 col-md-6 col-sm-12"> <!--Image + texte-->
                <img src="https://media.melty.fr/article-3479553-thumb-f168367476/call-of-duty-ww2-decouvrez-le-premier-trailer.jpg" width="300">
                <div class="text">
                    <h2>titre</h2>
                    <p>Description</p>
                </div>
            </div>
        </div>
    </div>
</body>

